<footer class="footer bg-dark text-light py-5">
    <div class="container">
      <div class="row text-light ">
        <div class="col-sm-6 col-md-3">
          <h5 class="footer-title">Về chúng tôi</h5>
          <ul class="list-unstyled ">
            <li><a href="#" class="text-light text-decoration-none">Giới thiệu</a></li>
            <li><a href="#" class="text-light text-decoration-none">Liên hệ</a></li>
            <li><a href="#" class="text-light text-decoration-none">Tuyển dụng</a></li>
            <li><a href="#" class="text-light text-decoration-none">Điều khoản</a></li>
            <li><a href="#" class="text-light text-decoration-none">Chính sách bảo mật</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h5 class="footer-title">Hỗ trợ khách hàng</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Hướng dẫn mua hàng</a></li>
            <li><a href="#" class="text-light text-decoration-none">Chính sách đổi trả</a></li>
            <li><a href="#" class="text-light text-decoration-none">Hỏi đáp</a></li>
            <li><a href="#" class="text-light text-decoration-none">Liên hệ hỗ trợ</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h5 class="footer-title">Kết nối với chúng tôi</h5>
          <ul class="list-unstyled social-media" style="display: flex;">
            <li><a href="#"><i class="fab fa-facebook-f text-light p-2"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter text-light p-2"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram text-light p-2"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube text-light p-2"></i></a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h5 class="footer-title">Đăng ký nhận tin</h5>
          <form action="#">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Nhập email của bạn">
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Đăng ký</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="copyright text-center">
        <p> Mint &copy; 2024 | All rights reserved.</p>
      </div>
    </div>
  </footer>